<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> 我是标题</h1>
    <p>用户名是: {{username}}</p>
    {# nunjucks 注释 #}
    {% if num > 3 %}
    <p>num > 3</p>
    {% elseif num < 3%} <p>num < 3</p>
            {% else %}
            <p>num = 3</p>
            {% endif %}

            <!-- macro:宏标签 -->
            {% macro pet(name,sex) %}
            <p>我是{{name}},性别是{{sex}}</p>
            {% endmacro %}
            {{pet("人","男")}}
            {% include 'footer.html' %}
</body>

</html>